body{
	background: url(https://i.ytimg.com/vi/xbjtcgWWbeU/maxresdefault.jpg) no-repeat center center
	font-family: "Marker Felt","Comic Sans MS", fantasy;
        margin: 0;
        padding: 0;
           }

h1 {
	font-size: 2.3em;
	text-align:center;
	color: white;
     }

h2 {
       font-size: 20px
       text-align:center;
       color: white;
}

h3 {

  color: white;
}

h5 {
  font-size: 20px
  text-align: center;
  color: white;
}

.header {
  background: url(https://i.ytimg.com/vi/xbjtcgWWbeU/maxresdefault.jpg) no-repeat center center; 
  background-size: cover;
  height: 800px;
  text-align: center; 
}


table {
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	border-collapse: collapse;
	cellspacing: 0 px;
         }

td {
	border: 1px solid #ffffff;
	text-align:center;
    }

th {
	text-align:center;
	color:#ffffff;
   
}
